<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CivicAI - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="auth-container">

        <div class="brand-section">
            <h1>CivicAI</h1>
            <p>AI-Powered Citizen Complaint Management</p>
        </div>

        <div class="auth-card">

            <h2>Welcome Back</h2>
            <p class="subtitle">Login to your CivicAI account</p>

            <form onsubmit="loginUser(event)">
    <label>Email</label>
    <input
        id="loginEmail"
        type="email"
        placeholder="Enter your email"
        required
    >

    <label>Password</label>
    <input
        id="loginPassword"
        type="password"
        placeholder="Enter your password"
        required
    >

    <button type="submit">Login</button>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</form>

               

            <p class="switch-page">
                Don't have an account?
                <a href="register.html">Create Account</a>
            </p>

        </div>

    </div>

</body>
</html>